
<div class="container mt-5">
<div class="row">
 <div class="col-3">
 </div>
 <div class="col-6">
 <h4 class="mb-4">Link Manager</h4>

 <% current_user.links.each do |link|%>
 <%= simple_form_for(link, url: links_url(link)) do |f| %>
  <%= f.input :title, label: "TITLE" %>
  <%= f.input :url, label: "URL"  %>
    <div class="form-actions">
    <%= f.button :submit, "Update" , class:"btn btn-primary mb-4" %>
  </div>
  <%end%>
 <%end%>


 </div>
 <div class="col-3"></div>
 </div>
</div>
</div>