

<div class="container mt-5">

<div class="d-flex justify-content-center">
<div>
<h1 class="text-center"><%= @user.email %></h1>
<% if @user.bio %>
<p class="text-center"> <%= @user.bio %></p>
<%end%>

<div class="row gap-4">
<% @links.each do |link| %>
<%= link_to link.url, target:"_blank", class:"linkable btn btn-secondary" do %>
 <span><%= link.title %></span>
<%end%>
<% end %>
</div>


</div>

</div>

</div>